* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: rgba(110, 110, 158, 0.889) ;
    font-family: Arial, Helvetica, sans-serif;
    }

.Header {
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    font-size: 200%;
    background-color: white;
    position: relative;
}

.Navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

 a {
    list-style: none;
    color: #cd5828;
    text-decoration: none;
    padding: 10px;
    display: flex;
}

#logo {
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: flex-start;
    height: auto;
    max-width: 20%;
}

.content {
    display: block;
    height: 150px;
    width: 200px;
}


.content h1 {
    font-size: 200%;
    color: black;
    font-weight: lighter;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    padding-top: 10px;
}

@media screen (max-width: 992px )  {
 

    
}