* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --back-blue: rgba(110, 110, 158, 0.889);
}
body {
    display: block;
    background-color: var(--back-blue);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    }

.Header {
    display: flex;
    overflow: hidden;
    height: 150px;
    width: 100%;
    font-size: 200%;
    background-color: white;
    position: relative;
}

#logo {
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: flex-start;
    min-height: 150px;
}

.Navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 50%;
}

a {
    list-style: none;
    color: #cd5828;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    flex-wrap: nowrap;
    min-width: 50px;
}

.content_left {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 200px;
}


.content_left h1 {
    font-size: 200%;
    display: flex;
    color: black;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 100px;
    padding-top: 10px;
}

.Navigation :hover {
    color: var(--back-blue);
}

@media screen and (max-width: 992px )  {
    .Navigation {
        margin-left: 40%;
    }

    
}

@media screen and (max-width: 768px) {
    .Navigation {
        margin-left: 30%;

    }
}

@media screen and (max-width: 576px){

    .Navigation {
        margin-left: 10%;
    }
}