* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-blue: rgba(110, 110, 158, 0.922);
    --logo-orange: #cd5828;
    --dark-blue: rgb(60, 60, 104);

}

body {
    display: block;
    background-color: var(--back-blue);
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    }

.Header {
    display: flex;
    overflow: hidden;
    height: 150px;
    width: auto;
    font-size: 200%;
    background-color: white;
    justify-content: space-between;
}

#logo {
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: flex-start;
    min-height: 150px;
}

.Navigation {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.Navigation :hover {
    color: var(--dark-blue);
}

a {
    list-style: none;
    color: var(--logo-orange);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    min-width: 160px;
}

#photo {
    scale: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: auto;
}

.content_body {
    display: flex;
    height: 250px;
    width: auto;
    align-items: center;
}

.content_title h1 {
    font-size: 200%;
    display: flex;
    color: black;
    font-weight: lighter;
    min-width: 257px;
    justify-content: right;
}

.content_title h1::after {
    content: "|";
    color: var(--logo-orange);
    font-size: 150%;
    display: block;
    margin-top: -12px;
}

.content section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-left: 20px;
}

@media screen and (max-width: 992px )  {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px){
}